body {
    font-family: 'Montserrat', sans-serif;
}

header {
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 30px;
}

header h1 {
    margin-bottom: 0px;
}

header h4 {
    padding-left: 3px;
    font-size: 10px;
    color: darkgray;
}

#gallery {
    
    padding-left: 70px;
    
}

#gallery .still{
    padding: 0px;
    margin: 3px;
    background-color: black;
}

#gallery img:hover {
    opacity: 0.3;
}