body {
    font-family: 'Montserrat', sans-serif;
}

#header {
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 30px;
    cursor: default;
}

#header h1 {
    margin-bottom: 0px;
}

#header h4 {
    padding-left: 3px;
    font-size: 10px;
    color: darkgray;
}

ul {
    list-style-type: none;
    padding-top: 21px;
    padding-left: 0px;
}

ul li {
    color: grey;
    font-size: 12px;
    float: left;
    padding-right: 16px;
    text-align: left;
}

a.focus:link, a.focus:visited {
    color: black;
} 

li a {
    text-decoration: none;
    color: grey;
}

li a:hover {
    color: black;
    text-decoration: none;
}

#gallery {
    
    padding-left: 70px;
    
}

#gallery .still{
    padding: 0px;
    margin: 3px;
    
    background-color: black;
    
    position: relative;
    cursor: pointer;
}

.still img {
    display: block;
    opacity: 1;;
}

.still:hover img {
    opacity: 0.3;
}

.text-img {
    opacity: 0;
    position: absolute;
    height: 50%;
    width: 254px;
    padding: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.still:hover .text-img {
    opacity: 1.0;
}

#player {
    margin-left: 65px;
}

.navigation-text {
    color: grey;
    font-size: 10px;
    margin-left: 65px;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation-text:onhover {
    color: black;
}

a {
    text-decoration: none;
}